{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static "main/style/privacy_policy.css" %}">
{% endblock %}

{% block content %}
    <div class="wrapper privacy-wrapper">
        <h1>Политика конфиденциальности для сайта ОДО «Триомед»</h1>
        <hr>
        <p class="incut">1.1. Политика конфиденциальности для сайта ОДО «Триомед» (далее — Политика) определяет политику ОДО «Триомед»
            (далее — Клиника) в отношении соблюдения персональных данных Пользователей сайта.

            1.2. Условия, указанные в данной Политике, имеют целью обеспечить права и свободы граждан при обработке
            персональных данных, сохранение конфиденциальности персональных данных и их защиту.

            1.3. Политика и изменения к ней утверждаются директором Клиники и является локальным нормативным актом
            Клиники,
            обязательным для соблюдения и исполнения Пользователями сайта www.triomed.by, сотрудниками Клиники.
        </p>
        <h2> 1. ОСНОВНЫЕ ТЕРМИНЫ</h2>
        <p>
            1.1. В настоящей Политике конфиденциальности используются следующие термины:

            1.1.1. «Администрация сайта (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом,
            которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки
            персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с
            персональными данными.

            1.1.2. «Персональные данные» — любая информация, относящаяся к идентифицированному физическому лицу или
            физическому лицу, которое может быть идентифицировано.

            1.1.3. «Обработка персональных данных» — любое действие или совокупность действий, совершаемые с
            персональными
            данными, включая сбор, систематизацию, хранение, изменение, использование, обезличивание, блокирование,
            распространение, предоставление, удаление персональных данных.

            1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Клиникой или иным получившим
            доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта
            персональных
            данных или наличия иного законного основания.

            1.1.5. «Пользователь сайта www.triomed.by» – лицо, имеющее доступ к Сайту, посредством сети Интернет и
            использующее его.
        </p>
        <hr>
        <h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <p>

            2.1. Использование Пользователем сайта www.triomed.by означает согласие с настоящей Политикой
            конфиденциальности
            и
            условиями обработки персональных данных Пользователя, изложенных в Политике обработки персональных данных и
            Положении об обработке персональных данных.

            2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить
            использование
            сайта
            www.triomed.by.

            2.3. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта
            www.triomed.by.
        </p>
        <hr>
        <h2>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h2>
        <p>

            3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению
            и
            обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по
            запросу
            Администрации сайта при онлайн записи к врачу.

            3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности,
            предоставляются
            Пользователем путём заполнения регистрационной формы на Сайте www.triomed.by.

            3.2.1. фамилию, имя, отчество Пользователя;

            3.2.2. контактный телефон Пользователя;

            3.2.3. адрес электронной почты (e-mail).
        </p>
        <hr>
        <h2>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h2>
        <p>

            4.1. Персональные данные Пользователя Администрация сайта www.triomed.by может использовать в целях:

            4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления записи на процедуры в режиме
            онлайн.

            4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта (личный кабинет) при условии
            возможности регистрации на сайте.

            4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся
            использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.

            4.1.4. Предоставления Пользователю с его согласия, обновлений услуг, специальных предложений, информации о
            ценах,
            новостной рассылки и иных сведений.

            4.1.5. Осуществления рекламной деятельности с согласия Пользователя.
        </p>
        <hr>
        <h2> 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h2>
        <p>

            5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным
            способом, в
            том
            числе в информационных системах персональных данных с использованием средств автоматизации или без
            использования
            таких средств.

            5.2. Персональные данные Пользователя могут быть переданы определенному в законодательстве кругу лиц по
            основаниям,
            указанным в законодательстве.

            5.3. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате
            или
            разглашении персональных данных.

            5.4. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной
            информации
            Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
            распространения, а также от иных неправомерных действий третьих лиц.
        </p>
        <hr>
        <h2>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h2>
        <p>

            6.1. Пользователь обязан:

            6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайтом www.triomed.by.

            6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной
            информации.

            6.2. Администрация сайта обязана:

            6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики
            конфиденциальности.

            6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного
            письменного
            разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными
            возможными
            способами переданных персональных данных Пользователя, за исключением п.п. 5.2. настоящей Политики
            Конфиденциальности.

            6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя
            согласно
            порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.

            6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента
            обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите
            прав
            субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или
            неправомерных действий.
        </p>
        <hr>
        <h2>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
        <p>

            7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые
            Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством
            Республики Беларусь, за исключением случаев, предусмотренных п.п. 5.2. настоящей Политики
            Конфиденциальности.

            7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт
            ответственность,
            если
            данная конфиденциальная информация:

            7.2.1. Стала публичным достоянием до её утраты или разглашения.

            7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.

            7.2.3. Была разглашена с согласия Пользователя.
        </p>
        <hr>
        <h2>8. РАЗРЕШЕНИЕ СПОРОВ</h2>
        <p>

            8.1. Все споры решаются в соответствии с законодательством Республики Беларусь со стремлением обеих сторон
            решить
            спор в досудебном претензионном порядке или путем обращения к медиатору, имеющему свидетельство
            установленного
            образца, выданного Министерством юстиции Республики Беларусь.

            8.2 Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет
            заявителя
            претензии о результатах рассмотрения претензии.

            8.3. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта
            применяется
            действующее законодательство Республики Беларусь.
        </p>
        <hr>

        <h2> 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h2>
        <p>
            9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия
            Пользователя.

            9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте www.triomed.by, если
            иное не
            предусмотрено новой редакцией Политики конфиденциальности.

            9.3. Действующая Политика конфиденциальности размещена на странице по адресу
            <a href="https://triomed.by/politika-konfidencialnosti/">Смотри</a>
        </p>
        <hr>
        <p>С политикой обработки персональных данных можно ознакомиться далее.</p>

    </div>
{% endblock %}


