.css-wjh20t-MuiPagination-ul {
  align-items: flex-end !important;
  justify-content: center;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  margin-top: 20px !important;
  font-size: 1.8rem !important;
}